[Desktop Entry]
Name=Gkrellm
Comment=Multiple stacked modular system monitors
Comment[pl]=Modularna aplikacja do monitorowania systemu
Comment[ja]=GNOME krelly作のシステムモニタ
Exec=gkrellm
Icon=gkrellm
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
# vi: encoding=utf-8
