[Desktop Entry]
Name=Gkrellm
Comment=Multiple stacked modular system monitors
Comment[pl]=Modularna aplikacja do monitorowania
Exec=gkrellm
Icon=gkrellm.png
Terminal=0
Type=Application
