[Desktop Entry]
Name=Gkrellm
Comment=Multiple stacked modular system monitors
Comment[pl]=Modularna aplikacja do monitorowania
Comment[ja]=GNOME krelly作のシステムモニタ
Exec=gkrellm
Icon=gkrellm.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
